
<img src="{{avatar_url}}" alt="" />

<h1>{{name}}</h1>
<h2>{{login}}</h2>

<hr>

<span class="octicon octicon-location"></span><span>{{location}}</span>
<span class="octicon octicon-clock"></span>
<span>Joined On{{created_at}}</span>

<hr>

<a href="{{followers_url}}"><h3>{{followers}}</h3></a>
<span>Followers</span>

<a href="{{starred_url}}">{{starred}}</a>
<span>starred</span>

<a href="{{following_url}}"><h3>{{following}}</h3></a>
<span>Following</span>

<hr>

<h4>Organizations</h4>

<a href="/TIY-GVL-FEE-2015-May" aria-label="TIY-GVL-FEE-2015-May"><img alt="@TIY-GVL-FEE-2015-May" src="https://avatars0.githubusercontent.com/u/11824325?v=3&amp;s=84"></a>


<a href="/TechClimber" aria-label="TechClimber"><img alt="@TechClimber" data-user="12204206" src="https://avatars0.githubusercontent.com/u/12204206?v=3&amp;s=84"></a>
