
<img src="{{avatar_url}}" alt="" />

<h1>{{name}}</h1>
<h2>{{login}}</h2>

<hr>

<span class="octicon octicon-location"></span><span>{{location}}</span>
<span class="octicon octicon-clock"></span>
<span>Joined On{{created_at}}</span>

<hr>

<a href="{{followers_url}}"><h3>{{followers}}</h3></a>
<span>Followers</span>

<a href="{{starred_url}}">{{starred}}</a>
<span>starred</span>

<a href="{{following_url}}"><h3>{{following}}</h3></a>
<span>Following</span>

<hr>

<h3>{{organizations_url}}</h3>
