<section class = 'userContainer'>
  <div class = "avatar">
    <img src="{{avatar_url}}" alt="" />
  <div>
  <div class = "nameLogin">
    <h1>{{name}}</h1>
    <h2>{{login}}</h2>
  </div>
  <hr>

  <div class = "locationJoined">
    <p><span class="octicon octicon-location"></span><span class = "">{{location}}</span></p>
    <p><span class="octicon octicon-clock"></span>
    <span>Joined On{{created_at}}</span></p>
  </div>

  <hr>

  <div class = "follows">
    <a href="{{followers_url}}"><h3>{{followers}}</h3></a>
    <p>Followers</p>

    <a href="{{starred_url}}">{{starred}}</a>
    <p>Starred</p>

    <a href="{{following_url}}"><h3>{{following}}</h3></a>
    <p>Following</p>
  </div>

  <hr>

  <div class = "organization">
    <h4>Organizations</h4>

    <a href="/TIY-GVL-FEE-2015-May" aria-label="TIY-GVL-FEE-2015-May"><img alt="@TIY-GVL-FEE-2015-May" src="https://avatars0.githubusercontent.com/u/11824325?v=3&amp;s=84"></a>


    <a href="/TechClimber" aria-label="TechClimber"><img alt="@TechClimber" data-user="12204206" src="https://avatars0.githubusercontent.com/u/12204206?v=3&amp;s=84"></a>
  </div>

</section>
